/* estilos header */
*{
	font-family: 'Roboto';
}
a{
	text-decoration: none;
	cursor: pointer;
}
.box-uno{
	background-size: cover;
	background-image: url(../img/fotos/sci_fi-wallpaper-1920x1080.jpg);
	background-position: center 80%;
}
.btn {
	color: white;
	font-size: 14px;
	background-color: #BB357F;
	padding: 5px 20px;
	text-decoration: none;
	margin-right: 100px;
}
.btn:hover {
 	background-color: #E73F9F;
 	text-decoration: none;
 	transition: all 0.7s ease 0s;
}
.boton{
	margin-top: 50px;
}
/* estilos menú */
.menu{
	text-align: right;
}
.menu ul li a{
	color: white;
}
.menu a:hover{
	background-color: #BB357F;
	transition: all 0.7s ease 0s;
}
.menu ul li{
	text-decoration: none; 
	display: inline-block;
	margin-left: 10%;
}
.menu{
	margin-top: 50px;
}
/* laboratoria centrado */
.lab a h1{
	font-size: 50px;
}

.lab{
	margin: 200px 0;
	text-align: center;
}
.lab a{
	color: white;
}
.lab a:hover{
	color: #BB357F;
	transition: all 0.7s ease 0s;
}
/* estilos seccion 2 */
.box-dos{
	background-color: #EAEAE9;
	padding-bottom: 50px;
}
.cont{
	text-align: center;
}
.coder img{
	height: 300px;
	width: 300px;
	margin-top: 20px;
}
.coder h3, .coder p{
	margin: 0 40px;
	text-align: left;
	margin-bottom: 10px;
}
.coder{
	background-color: white;
	margin-top: 50px;
	width: 372px;
	height: 480px;
	box-shadow: 0px 0px 5px 5px #CBCED4;
}
.btn-mas{
	color: white;
	font-size: 12px;
	background-color: #BB357F;
	padding: 5px 10px;
	text-decoration: none;
}
.btn-mas:hover {
 	background-color: #E73F9F;
 	transition: all 0.7s ease 0s;
}
.uno, .dos{
	margin: 50px 20px 0 20px;
}

.tres, .cuatro{
	margin: 0 20px 0 20px;
}
/* footer */
.box-tres{
	background-color: #262624;
}
footer p{
	color: #DDE3E5;
	font-size: 12px;
	margin: 40px 0;
}