* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/*
	Grid
*/
.container {
	margin: 0 auto;
	width: 80%;
}

.container-fluid {
	margin: 0 auto;
	width: 100%;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.row {
	margin-left: -14px;
	margin-right: -14px;
}

.row:before, .row:after{
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}

[class*="col-"] {
	min-height: 7px;
	padding: 0 14px;
	float: left;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
.col-7, .col-8, .col-9, .col-10, .col-11, .col-12,
.col-offset-1, .col-offset-2, .col-offset-3, .col-offset-4, .col-offset-5, .col-offset-6,
.col-offset-7, .col-offset-8, .col-offset-9, .col-offset-10, .col-offset-11, .col-offset-12 {
    float: left;
    min-height: 1px;
 }

.box {
	padding: 20px;
}

.box-margin {
	margin: 0 10px 0 10px;
}

.col-1, .col-offset-1 {
	width: 8.33333333333%;
}

.col-2, .col-offset-2 {
	width: 16.6666666666%;
}

.col-3, .col-offset-3 {
	width: 24.9999999999%;
}

.col-4, .col-offset-4 {
	width: 33.3333333333%;
}

.col-5, .col-offset-5 {
	width: 41.6666666666%;
}

.col-6, .col-offset-6 {
	width: 49.9999999999%;
}

.col-7, .col-offset-7 {
	width: 58.3333333333%;
}

.col-8, .col-offset-8 {
	width: 66.6666666666%;
}

.col-9, .col-offset-9 {
	width: 74.9999999999%;
}

.col-10, .col-offset-10 {
	width: 83.3333333333%;
}

.col-11, .col-offset-11 {
	width: 91.6666666666%;
}

.col-12, .col-offset-12 {
	width: 100%;
}

@media only screen and (max-width : 768px) and (min-width : 480px) {
	/*
		Grid
	*/
	.container {
		width: 96%;
	}

	.col-1, .col-2, .col-3, .col-5, .col-6,
	.col-7, .col-8, .col-9, .col-10, .col-11 {
    	width: 50%;
 	}

 	.col-4 {
		width: 33.3333333333%;
	}

 	.col-12 {
 		width:100%;
 	}

 	.col-offset-1, .col-offset-2, .col-offset-3, .col-offset-4,
 	.col-offset-5, .col-offset-6, .col-offset-7, .col-offset-8,
 	.col-offset-9, .col-offset-10, .col-offset-11, .col-offset-12 {
 		width: 0% !important;
 		display: none;
 	}

 	.box-margin {
		margin: 0 10px 0 10px;
	}
}

@media only screen and (max-width : 479px) {
	/*
		Grid
	*/
	.container {
		width: 96%;
	}

	.col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
	.col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    	float: none;
    	width: 100%;
 	}

 	.col-offset-1, .col-offset-2, .col-offset-3, .col-offset-4,
 	.col-offset-5, .col-offset-6, .col-offset-7, .col-offset-8,
 	.col-offset-9, .col-offset-10, .col-offset-11, .col-offset-12 {
 		width: 0% !important;
 		display: none;
 	}

 	.box-margin {
		margin: 0 10px 0 10px;
	}
}